.chat-main {
  width: calc(100vw - 300px);
  float: left;
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  &__edit-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    color: #38aef0;
  }
}

.member-list__member {
    display: flex;
    margin-top: 15px;
    font-size: 12px;
    color: #999999;
    list-style:none;
}


// ul {
//   list-style: none;
//   list-style-type: none;
//   list-style-position: initial;
//   list-style-image: initial;

.upper-info {
  display: flex;
  padding-bottom: 10px;
  &__user {
    color: #434a54;
    font-size: 16px;
    font-weight: bold;
  }
  &__date {
    color: #999999;
    font-size: 12px;
    margin-left: 10px;
    } 
    
}



.current-group {
  font-size: 20px;
  color: #333;
  margin-top: 35px;
}


.messages {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}

.message {
  padding-bottom: 40px;
}

.message__text {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 10px;
}

.new_message {
  display: flex;
  &__submit-btn {
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
    font-size: 20px;
    }
  }

  .lower-message__content {
    color: #434a54;
    font-size: 14px;
    margin-bottom: 10px;
}


.input-box {
  position: relative;
  width: 100%;
  &__text {
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    font-size: 18px;
    color: #434a54;
    border-style: none;
    &__input {
      -webkit-appearance: textfield;
      background-color: white;
      -webkit-rtl-ordering: logical;
      cursor: text;
      padding: 1px;
      border-width: 2px;
      border-style: inset;
      border-color: initial;
      border-image: initial;
      &__input, textarea, select {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }
  } 
}
  
 .input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
  }

.image-label {
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  &__input {
      display:none;
  }
}


.h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
.a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form {
  height: 90px;
  padding: 20px 40px 20px 330px;
  background-color: #ddd;
}

.img {
  border: 0;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}