.chat-main {
  width: calc(100vw - 300px);
  float: left;
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
}

.main-header__edit-btn {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 30px;
  border: solid 1px #38aef0;
  color: #38aef0;
}
.member-list {
  display: flex;
  margin-top: 15px;
  font-size: 12px;
  color: #999999;
}



h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}


.upper-info {
  display: flex;
}


.upper-info__user {
  color: #434a54;
  font-size: 16px;
  font-weight: bold;


}

.upper-info__date {
  color: #999999;
  font-size: 12px;
  margin-left: 10px;


}

.current-group {
  font-size: 20px;
  color: #333;
  margin-top: 35px;
}


.a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.messages {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
}

.new-message {
  display: flex;
}

.input-box {
  position: relative;
  width: 100%;
}
.input-box__text {
  height: 50px;
  width: 100%;
  padding: 0 40px 0 10px;
  font-size: 18px;
  color: #434a54;
  border-style: none;

}

.input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

}

.input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;

}

.image-label {
  font-size: 1.3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

.image-label__input {
  display:none;
}

.new-message__submit-btn {
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
  font-size: 20px;
}



.input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
}