
* {
  box-sizing: border-box;
  display:block;
}
li {
  float:right;
  padding:3px;
  
}

.chat-side {
  width: 300px;
  color: white;
  float: left;
  &__a {
    color: white;
 }
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  
}


.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #f3f6fa
}

a {
  text-decoration: none;
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}
.group__group-name {
  font-size: 15px;
  color: #f3f6fa;
  margin-bottom: 5px;
}

.group__latest-message {
  font-size: 11px;
  color: #f3f6fa
}

.div {
  margin:0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

  padding: 0;
  padding-top: 0px;
  padding-right:0px;
  padding-bottom:0px;
}

.fa {
  color: white;
}